input[type="text"]{
    width: 95%;
    height: 50px;
    border-radius:5px;
    border: #666 1px solid;
    margin-top: 12px;
}
input[type="number"]{
    width: 95%;
    height: 39px;
    border-radius:5px;
    border: #666 1px solid;
    margin-top: 12px;
}
.container{
    width: 500px;
    padding: 10px;
    margin: 12px     auto;
   overflow: auto;
   box-shadow:
  0 7px 30px -10px rgba(150,170,180,0.5);
  box-sizing: border-box;
  
}

input[type="submit"]{
    padding:1px 1px 2px 2px;
    margin-top: 30px;
    width: 12em;
    text-align: center;
    padding: 12px;
    display: block;
    margin: 50px auto;
    background-color:#1cb0f6;
    color: white;
    border: none;
    border-radius: 3px;


}


input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: initial;
  background-position: 0 0;
  color:#206687;
  background-color: #eee;
}

input[type="submit"]:active {
  opacity: .5;
}
h1{
    color: #1cb0f6;
}
body{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.edit{
    text-align: center;
}